<md-card md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Time Series Graph</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media">
            	
            </div>
        </md-card-title-media>
    </md-card-title>
    <h4>{{timeSeriesVM.timeSeriesData}}</h4>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-actions>
</md-card>
